<%- include('header.ejs') %>





    <form class="change-password-form" id="change-password-form" action="/change-password" method="POST">
        <p class="form-title">Enter Email And New Password</p>
        <div class="input-container">
            <input class="form-control" type="email" name="email" placeholder="Enter email" required>
            <span>
            </span>
        </div>
        <div class="input-container">
            <input type="password" id="password" name="password" placeholder="Enter password" required>
        </div>
        <div class="input-container">
            <input type="password" id="confirm-password" name="confirm-password" placeholder="Enter password" required>
        </div>
        <button type="submit" class="submit">
            Change Password
        </button>

        <!-- <p class="signup-link">
      No account?
      <a href="">Sign up</a>
    </p> -->
    </form>





<script>
    document.addEventListener("DOMContentLoaded", ()=>{

        const form = document.getElementById("change-password-form");
        const password = document.getElementById("password");
        const confirm_password = document.getElementById("confirm-password")
        form.addEventListener("submit", (event)=>{
            event.preventDefault();
            
            if(password.value === confirm_password.value && password.value !== "" && confirm_password.value !== "" ){
                event.target.submit();
                console.log("form submitted");
            }else{

                console.log("form not submitted");
            }
        });
    })
</script>







    <%- include('footer.ejs') %>