<footer class="footer text-right m-3">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <center><b> ENERGY AND POWER DEPARTMENT</b></center>
            </div>

            <div style=" font-size: 10px; color:#094769;" align="center">DESIGN &amp; DEVELOPED BY | ILMAN
            </div>

        </div>
    </div>
</footer>

</body>

</html>