<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <script src="https://cdn.socket.io/4.2.0/socket.io.min.js"></script>
        <link rel="stylesheet" href="/css/style.css">

    <title><%= title %></title>

    <style>
        body {
            background-color: #ebeff2;
        }

        .bg-green {
            background-color: #81c868 !important;
        }
        .img-circle{
            border-radius: 50%;
        }
        .textDecoration{
            text-decoration: none;
        }
    </style>

</head>

<body>

    <header id="topnav" class="navClass">
        <div class="navbar navbar-expand-lg topbar-main p-3 mb-2 bg-green text-white"
            style="margin-bottom: 0 !important;">
            <div class="container">

                <!-- Logo container-->
                <div class="me-auto">
                    <!-- <span><img src="assets/images/pedologo.GIF" width="50"  style="padding-bottom: 8px;"/>  Financial Manangemtent System PEDO</span> -->
                    <a class="navbar-brand" href="">
                        <img src="/images/kp_logo.png" width="60" style="float: left; margin-top: 10px;">
                    </a>
                    &nbsp;&nbsp;&nbsp;
                    <span> </span>
                    <span style="color: white; float: left; margin-top: 25px; font-size: 22px; font-weight:bold;"> TASK
                        MANAGEMENT SYSTEM</span>

                </div>
                <!-- End Logo container-->
                <div class="">
                    <ul class="nav navbar-nav navbar-right pull-right">
                        <li class="navbar-c-items">
                            <div style="margin-top:40px;color:white;">Welcome : naveed</div>
                        </li>


                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="/images/naveed.jpg"
                                    style="height: 50px; border-radius: 50%; border: 2px solid white;" alt="">
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Logout</a></li>
                                <li><a class="dropdown-item" href="#">Change password</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>

            </div>
        </div>

        <nav class="navbar navbar-expand-lg bg-body-tertiary pt-3">
            <div class="container">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item m-2">
                            <a class="nav-link" aria-current="page" href="#">
                                <span><img class="mx-auto d-block" src="/icons/dashboard.png"
                                        style="width: 25px; height: 25px;" alt=""></span>
                                Dashboard</a>
                        </li>
                        <li class="nav-item dropdown m-2">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <span><img class="mx-auto d-block" src="/icons/settings.png"
                                        style="width: 25px; height: 25px;" alt=""></span>
                                Definitions
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/add_designation">Add Designation</a></li>
                                <li><a class="dropdown-item" href="/add_role">Add role</a></li>
                                <li><a class="dropdown-item" href="/add_user">Add User</a></li>
                                <li><a class="dropdown-item" href="/add_organization">Add Organization</a></li>
                                <li><a class="dropdown-item" href="/add_subdepartment">Add sub Departments</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown m-2">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <span><img class="mx-auto d-block" src="/icons/to-do-list.png"
                                        style="width: 25px; height: 25px;" alt=""></span>
                                Create Task
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/create_task">Create Task</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown m-2">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <span><img class="mx-auto d-block" src="/icons/printing.png"
                                        style="width: 25px; height: 25px;" alt=""></span>
                                Report
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Create Report </a></li>
                                <li><a class="dropdown-item" href="#">Create User List</a></li>

                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>


    </header>