<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
    <title>NIDA</title>
    <style>
        body{
            min-height: 100vh;
        }
        .minH70{
            min-height: 70vh !important;
        }
        .bg-blue {
            background-color: white !important;
        }

        * {
            padding: 0;
            margin: 0;
        }

        @media only screen and (max-width: 1000px) {
            .w-100after {
                width: 100% !important;
            }

            .absolute {
                position: fixed;
                top: .2px;
                left: .2px;
                z-index: 9999;
                height: 100vh;
                width: 250px !important;
            }
        }
    </style>
</head>

<body style="background-color: #e2e2e2">

    <header id="topnav" class="navClass bg-light">
        <div class="navbar navbar-expand-lg topbar-main p-3 mb-2 bg-blue " style="margin-bottom: 0 !important;">
            <button class="btn btn-light" id="btnNav"><i class="bi bi-list"></i></button>
            <div class="container">

                <div class="me-auto">
                    <a class="navbar-brand" href="">
                        <img src="/images/NIDA_Logo2.jpg" width="60"
                            style="float: left; margin-top: 10px; border-radius: 50%;">
                    </a>
                    &nbsp;&nbsp;&nbsp;
                    <span> </span>
                    <span style="float: left; margin-top: 25px; font-size: 22px; font-weight:bold;"> TASK
                        MANAGEMENT SYSTEM</span>

                </div>
                <div class="">
                    <ul class="nav navbar-nav navbar-right pull-right">
                        <li class="navbar-c-items">
                            <div style="margin-top:40px;">Welcome : <%= name %> </div>
                        </li>


                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="<%=image%>"
                                    style="height: 50px; border-radius: 50%; border: 2px solid white;" alt="">
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/logout">Logout</a></li>
                                <li><a class="dropdown-item" href="#">Change password</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>

            </div>
        </div>


    </header>


    <main class="minH70 h-75" >
        <div class="container-fluid d-flex row p-0 w-100">

            <div class="w-25 p-0 absolute" id="leftNav" style="box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);">
                <nav class="pt-3 h-100" style="background-color: #2c3379; color: white;">
                    <span style="display: block;"><button class="btn text-white" id="navCancelBtn"
                            style="background-color: #2c3379; float: right;"><i
                                class="bi bi-x"></i></button></span>
                    <div class="container">


                        <div class="" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item m-2">
                                    <a href="/" class="nav-link">Dashboard</a>
                                </li>
                                <% if(userRole === "CEO" || userRole === "Director"){ %>
                                <li class="nav-item  m-2" id="createTaskClick" style="cursor: pointer;">Create Task
                                    <ul class="" id="createTask" style="display: none;">
                                        <li class="nav-item"><a class="nav-link" href="/create_task">Create Task</a></li>
                                    </ul>
                                </li>
                                <%}%>
                                <li class="nav-item m-2" id="reportClick" style="cursor: pointer;">
                                    Report
                                    <ul class="" style="display: none;" id="report">
                                        <li class="nav-item"><a class="nav-link" href="#">Create Report </a></li>
                                        <li class="nav-item"><a class="nav-link" href="#">Create User List</a></li>

                                    </ul>
                                </li>
                                <% if(userRole === "CEO" || userRole === "Director"){ %>
                                <li class="nav-item m-2" style="cursor: pointer;" id="settingClick" >
                                    Settings
                                    <ul class="" style="display: none;" id="settings">
                                        <li class="nav-item"><a class="nav-link" href="/add_organization">Add Department</a></li>
                                        <li class="nav-item"><a class="nav-link" href="/add_subdepartment">Add Sub-Department</a></li>
                                        <li class="nav-item"><a class="nav-link" href="/add_designation">Add Designation</a></li>
                                        <li class="nav-item"><a class="nav-link" href="/add_role">Add Role</a></li>
                                        <li class="nav-item"><a class="nav-link" href="/add_user">Add User</a></li>
                                        
                                    </ul>
                                </li>
                                <%}%>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <script>
                $("#createTaskClick").click(function(){
                    $("#createTask").toggle()
                });

                $("#reportClick").click(function(){
                    $("#report").toggle()
                });

                $("#settingClick").click(function(){
                    $("#settings").toggle()
                });

            </script>
            <div class="w-75 w-100after" style="z-index: 1;">