<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/headerStyle.css">
    <title>NIDA</title>
    <style>
        body {
            min-height: 100vh;
        }

        .minH70 {
            min-height: 70vh !important;
        }

        .bg-blue {
            background-color: white !important;
        }

        * {
            padding: 0;
            margin: 0;
        }

        @media only screen and (max-width: 1000px) {
            .w-100after {
                width: 100% !important;
            }

            .absolute {
                position: fixed;
                top: .2px;
                left: .2px;
                z-index: 9999;
                height: 100vh;
                width: 250px !important;
            }
        }
    </style>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar myNavbarStyling navbar-dark bg-light text-dark ">
        <div class="container-fluid d-lg-flex justify-content-lg-end">
            <div class="me-auto d-flex justify-content-center align-items-center">
                <a class="navbar-brand" href="">
                    <img src="images/nida.png" width="60" style=" margin-top: 10px; border-radius: 50%;" class="d-inline">
                </a>

                <span> </span>
                <span style="float: right; margin-top: 25px; font-size: 1em; font-weight:bold;" class="text-title mb-2">
                    TASK
                    MANAGEMENT SYSTEM</span>

            </div>

            <div class="dropdown ">


                <img src="<%=image%>" id="dropdownMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" class="img-fluid  dropdown-toggle no-caret" style="height: 50px; border-radius: 50%;"
                    alt="Img"><br><span>welcom: <span style="text-transform: capitalize;"><%=name%></span> </span>


                <div class="dropdown-menu custom-dropdown-menu"  aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/logout">Logout</a>
                    <% if(userRole === "CEO"){ %>
                    <a class="dropdown-item" href="/change-password">Change Password</a>
                    <%}%>
                </div>
            </div>

        </div>
        <button id="toggle-button" class="btn btn-outline-primary d-lg-none d-inline ">
            ☰
        </button>
    </nav>

    <div class="content" style="margin-top: 16vh;">
        <!-- Left side started here -->
        <div id="left-sidebar" class="left-side">
            <h2>Left Side</h2>
            <div>
                <ul class="list-group">
                    <li class="list-group-item nav-item m-2">
                        <a href="/" class="nav-link">Dashboard</a>
                    </li>
                </ul>
                <br>
                <% if(userRole === "CEO" || userRole === "Director"){ %>
                <ul class="list-group">
                    <li class="list-group-item nav-item  m-2" id="createTaskClick" style="cursor: pointer;">Create Task
                        <ul class="" id="createTask" style="display: none;">
                            <li class="nav-item"><a class="nav-link" href="/create_task">Create Task</a></li>
                        </ul>
                    </li>
                </ul>
                <%}%>
                <br>
                <ul class="list-group">
                    <li class="list-group-item nav-item m-2" id="reportClick" style="cursor: pointer;">
                        Report
                        <ul class="" style="display: none;" id="report">
                            <li class="nav-item"><a class="nav-link" href="/report">Tasks Report </a></li>
                            <% if(userRole === "CEO"){ %>
                                <hr style="margin: 7px;">
                            <li class="nav-item"><a class="nav-link" href="/inactivetasks">Inactive Tasks Report</a>
                            </li>
                            <%}%>
                        </ul>
                    </li>
                </ul>
                <br>
                <% if(userRole === "CEO" || userRole === "Director"){ %>
                <ul class="list-group">
                    <li class="list-group-item nav-item m-2" style="cursor: pointer;" id="settingClick">
                        Settings
                        <ul class="" style="display: none;" id="settings">
                            <li class="nav-item"><a class="nav-link" href="/add_organization">Add Department</a></li><hr style="margin: 7px;">
                            <li class="nav-item"><a class="nav-link" href="/add_subdepartment">Add Sub-Department</a>
                            </li><hr style="margin: 7px;">
                            <li class="nav-item"><a class="nav-link" href="/add_designation">Add Designation</a></li><hr style="margin: 7px;">
                            <li class="nav-item"><a class="nav-link" href="/add_role">Add Role</a></li><hr style="margin: 7px;">
                            <li class="nav-item"><a class="nav-link" href="/add_user">Add User</a></li>

                        </ul>
                        <%}%>
                    </li>
                </ul>
                <br>
                <!-- Repeat the above list as needed -->
            </div>
        </div>
        <!-- jQuery (required for Bootstrap JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
        <script>
            $("#createTaskClick").click(function () {
                $("#createTask").toggle()
            });


            $("#reportClick").click(function () {
                $("#report").toggle()
            });

            $("#settingClick").click(function () {
                $("#settings").toggle()
            });

            document.addEventListener("DOMContentLoaded", function () {
                const toggleButton = document.getElementById("toggle-button");
                const leftSidebar = document.getElementById("left-sidebar");
                const rightSidebar = document.getElementById("right-sidebar");

                toggleButton.addEventListener("click", function () {
                    leftSidebar.classList.toggle("open");
                    rightSidebar.classList.toggle('display-none')
                });
            });
        </script>

        <!-- Right side started here -->
        <div class="right-side" id="right-sidebar">