<%- include('header.ejs') %>



<main>
    <div class="parant w-50 m-auto">

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-warning">
                <i class=""> 1</i>
            </div>
            <div class="cd-timeline-content">
                <span> <b style="color: #5d9cec;">Description : </b></span>P&amp;DD SDU has requested subject data
                for senate standing committee by 13/10/2021. Letters and reminder already sent.
                <hr>
                <span> <b style="color: #5d9cec;">Initiated By : </b></span>Muhammad Zubair
                <br>
                <b style="font-size:15px; color: #5d9cec;">On Date Time: </b>12th October 2021 on Tuesday 10:33am
                <br>
                <span> <b style="color: #5d9cec;"> Assign To : </b></span>Engr Muhammad Naeem Khan
                <br>
                <span> <b style="color: #dc3545;"> Dead Line : </b></span>2021-10-13
                <br>
                <span> <b style="color: #5d9cec;"> Remarks : </b></span>
                <br>
                <br>
                <br>
                <span> <b style="color: #5d9cec;"> Note : </b></span>
                <br>
                <span> <b style="color: #5d9cec;"> Current Status : </b></span>
                <span class="label label-primary" style="width:40%;">Just Created</span>
                <span class="cd-date">
                </span>
            </div>
        </div>

        <div class="cd-timeline-block">

            <div class="cd-timeline-content">
                <span> <b style="color: #5d9cec;">Description : </b></span>P&amp;DD SDU has requested subject data
                for senate standing committee by 13/10/2021. Letters and reminder already sent.
                <hr>
                <span> <b style="color: #5d9cec;">Initiated By : </b></span>Muhammad Zubair
                <br>
                <b style="font-size:15px; color: #5d9cec;">On Date Time: </b>12th October 2021 on Tuesday 12:22pm
                <br>
                <span> <b style="color: #5d9cec;"> Assign To : </b></span>Engr Muhammad Naeem Khan
                <br>
                <span> <b style="color: #dc3545;"> Dead Line : </b></span>2021-10-13
                <br>
                <span> <b style="color: #5d9cec;"> Remarks : </b></span>noted sir.
                <br>
                <br>
                <br>
                <span> <b style="color: #5d9cec;"> Note : </b></span>
                <br>
                <span> <b style="color: #5d9cec;"> Current Status : </b></span>
                <span class="label label-success" style="width:40%;">In Process</span>
                <span class="cd-date">
                </span>
            </div>
            <div class="cd-timeline-img cd-warning">
                <i class=""> 2</i>
            </div>
        </div>

    </div>
</main>




<%- include('footer.ejs') %>