* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }
  body {
    overflow-x: hidden;
  }
  
  .myNavbarStyling {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    padding: 15px;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .content {
    display: flex;
    min-height: 100vh;
    margin-top: 60px; /* height of navbar */
  }
  
  /* Default styles for medium and large screens */
  .left-side {
    width: 25vw; /* Initial width of left sidebar */
    overflow-y: auto;
    height: calc(100vh - 60px); /* Adjusted height to account for navbar */
    background-color: #0d6dfd93;
    border-right: 1px solid #ddd;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 0;
    transition: left 0.3s ease;
    z-index: 33;
  }
  
  .right-side {
    margin-left: 25vw; /* Initial margin to accommodate left sidebar */
    width: 75vw; /* Initial width of right sidebar */
    padding: 20px;
    overflow-y: hidden;
  }
  
  .display-none {
    opacity: 0.2 !important;
  }
  /* Medium devices - Toggle button */
  @media (max-width: 992px) {
    .left-side {
      left: -25vw; /* Hide left sidebar by default */
    }
  
    .left-side.open {
      left: 0;
      width: 40%;
      
    }
  
    .right-side {
      margin-left: 0; /* Adjust margin to push right sidebar to full width */
      width: 100%; /* Full width of right sidebar when left sidebar is closed */
    }
  
    #toggle-button {
      display: block; /* Show toggle button */
    }
  }
  
  /* Small devices - Same behavior as medium devices */
  @media (max-width: 768px) {
    .left-side {
      left: -25vw; /* Hide left sidebar by default */
    }
  
    .left-side.open {
      left: 0;
      width: 100%;
    }
  
    .right-side {
      margin-left: 0; /* Adjust margin to push right sidebar to full width */
      width: 100%; /* Full width of right sidebar when left sidebar is closed */
    }
  
    #toggle-button {
      display: block; /* Show toggle button */
    }
  }
  .custom-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateX(-100%);
}

.no-caret::after {
    display: none !important;
}